# TodoMD CLI Configuration

# Directory where todo.md and done.md files are stored
# Default: ~/.todomd
#TODOMD_DIR=/path/to/your/todomd/directory

# Example configurations:
# TODOMD_DIR=/Users/username/Documents/todos
# TODOMD_DIR=/home/username/todos
# TODOMD_DIR=./todos

# Highlight tasks due in the next 3 days (default is 2)
#TODOMD_NEAR_DAYS=3

# work with tools/append_journal.sh (need copy script to your local environment)
#TODOMD_WHEN_DONE="/Users/linyumin/work/keet/app/aiprojects/todomd-cli/tools/append_journal.sh"
#TODO_JOURNAL_PATH="/Users/linyumin/Library/CloudStorage/Dropbox/應用程式/logseq/journals"
